<!DOCTYPE html>
<html>
<head>
    {% block content %}
    <title> The Traveller Girl</title>
    <h3> Welcome To Navita's Traveller Company :) </h3>
    <h2> The Traveller Girl <sub> Tours And Travels</sub></h2>
    <style>body{background-image:url('https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&w=400');background-size:cover;}</style>
    <p><h2>Tagline for travel blog
    “No time like the present”
    “Live your life, live it up!”
    “Life is about living in the moment”
    “Capture moments, not memories.”
    “The best things in life are free.”
    “We’re all stories in the end.”
    What’s your next adventure
    Travel like you’re living
    One life, two places
    Get lost and found again
    Explore the world one step at a time
    Life is short, explore it now!
    “Get lost with us”
    “Explore the world”
    “See it all, do it all, live your life to the fullest”
    “Live an adventure today!”
    “Don’t just see a place-live it.”
    “Discover what’s waiting for you.”
    “I’m never coming back”
    “The world is our playground”
    “Explore the world, one day at a time”
    “Live life to its fullest potential with us!”
    “I’m not lost, I’m exploring!”
    “A world of adventure awaits me”
    “My passport is always open”
    “The world’s my oyster”
    “Explore the globe with me”
    “Wanderlust has got me in its grip”
    “I’m not lost, I’m exploring!”
    “A world of adventure awaits me”
    “My passport is always open”
    “The world’s my oyster”
    “Explore the world through your eyes”
    “Go beyond borders and boundaries”
    “Live a life worth sharing”
    “See the world, one country at a time”
    “Find yourself in another culture.”
    “Travel to discover new things about yourself.”</h2></p>
    {% endblock %} 
</head>
<body>

