<!DOCTYPE html>
<html>
<head>
    {% block content %}
    <title> The Traveller Girl</title>
    <h3> Welcome To Navita's Traveller Company :) </h3>


    <h2> The Traveller Girl <sub> Tours And Travels</sub></h2>
    <style>body{background-image:url('https://th.bing.com/th/id/OIP.5bgOT9VISDUibgX8gOwu_AHaEK?w=296&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7');background-size:cover;}</style>
<p> <h1>Hello Freinds:) <br>
    My Self : Ms.Navita Choudhary !<br>
    Gmail Id : navitachoudhary634@gmail.com<br>
    Contact No. : +91 8107628944 <br>
    <a href = "https://www.instagram.com/i_am_navita_/" target = "_blank"> Please Click To Visit to our instagram acccount :) </a>
    <h1></p>

    {% endblock %} 
</head>
<body>