<!DOCTYPE html>
<html>
<head>
    <title> The Traveller Girl</title>
    <h3> Welcome To Navita's Traveller Company :) </h3>
    <h2> The Traveller Girl <sub> Tours And Travels</sub></h2>
    {% comment %} <h1> Explore Our India </h1> {% endcomment %}  
</head>
<body>
{% block content %}
{% comment %} <picture>
<img src="C:\Users\Navita\Downloads\IMG_5288.PNG" width = "977" height = "977">
</picture> {% endcomment %}
<p> Discover the real value of travel :) </p>
<p>Discover and book amazing things to do at exclusive prices</p>
 <style>body{background-image:url('https://images.pexels.com/photos/1651165/pexels-photo-1651165.jpeg?auto=compress&cs=tinysrgb&w=400');background-size:cover;}</style> 

{% endblock %} 
