{% block content%}
<title> The Traveller Girl</title>
    <h2> The Traveller Girl <sub> Tours And Travels</sub></h2>
    <h3> Welcome To Navita's Traveller Company :) </h3>
    <h1> Explore Our India </h1>
    Follow On Instagram : _i_am_navita_</p>
    <style>body{background-image:url('https://th.bing.com/th/id/R.87a62f59abc09181750f3734fd46b17d?rik=eLg01AWCZTzhsw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f5%2f5%2fa%2f161824.jpg&ehk=diJN%2bT4qXmEaCYudnCwPIswZ%2fbntfsKQFCQGfnr9yL0%3d&risl=&pid=ImgRaw&r=0');background-size:cover;}</style> 

<a href = "/home" > <h2>home :) </h2></a>
<a href = "/about" > <h2>About_Us :) </h2></a>
<a href = "/login_or_signup" > <h2> Login/SignUp :) </h2></a>
<a href = "/contact_us" > <h2>Contact_us:)  </h2></a>
{% comment %} <a href="https://www.instagram.com/i_am_navita_/">Visit Our Instagram Account :)</a> target = blank karne se new tab mw open hoga instagram{% endcomment %}
<a href = "https://www.instagram.com/i_am_navita_/" target = "_blank"> Please Click To Visit to our instagram acccount :) </a>
{% comment %} https://www.instagram.com/i_am_navita_/ {% endcomment %}
{% endblock %}
